---
http_interactions:
- request:
    method: get
    uri: https://api.yelp.com/v3/businesses/search?categories=restaurants,bars&location=1&open_now=true&sort_by=distance&term=dog%20friendly
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - bearer <API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Ratelimit-Dailylimit:
      - '5000'
      X-Routing-Service:
      - routing-main--useast1-b9c656cb7-xs5r8; site=public_api_v3
      Ratelimit-Remaining:
      - '4998'
      X-Zipkin-Id:
      - a5ce22b4e17f4555
      Ratelimit-Resettime:
      - '2021-11-06T00:00:00+00:00'
      X-Cloudmap:
      - routing_useast1
      X-Proxied:
      - 10-65-85-173-useast1aprod
      X-Extlb:
      - 10-65-85-173-useast1aprod
    body:
      encoding: ASCII-8BIT
      string: '{"businesses": [{"id": "6njO6IrPy3XygVJFOJcAug", "alias": "restaurant-post-kirchschlag-in-der-buckligen-welt",
        "name": "Restaurant Post", "image_url": "https://s3-media3.fl.yelpcdn.com/bphoto/dh9rqr5D-QW6gulzI_s08Q/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/restaurant-post-kirchschlag-in-der-buckligen-welt?adjust_creative=OBMoK3r2ftITcAO2w2E5Ew&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=OBMoK3r2ftITcAO2w2E5Ew",
        "review_count": 2, "categories": [{"alias": "austrian", "title": "Austrian"},
        {"alias": "breakfast_brunch", "title": "Breakfast & Brunch"}], "rating": 4.5,
        "coordinates": {"latitude": 47.5017573669368, "longitude": 16.296683549881},
        "transactions": [], "location": {"address1": "G\u00fcnser Str. 2", "address2":
        "", "address3": "", "city": "Kirchschlag in der Buckligen Welt", "zip_code":
        "2860", "country": "AT", "state": "3", "display_address": ["G\u00fcnser Str.
        2", "2860 Kirchschlag in der Buckligen Welt", "Austria"]}, "phone": "+4326462216",
        "display_phone": "+43 2646 2216", "distance": 22166.945932468203}, {"id":
        "rC5KV5D0XlJC7O6MnLaJ5g", "alias": "wirtshaus-und-achterlbar-xaver-wiener-neustadt",
        "name": "Wirtshaus und Achterlbar Xaver", "image_url": "https://s3-media3.fl.yelpcdn.com/bphoto/qQ2V-zJk6u53KVPKn3yuyw/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/wirtshaus-und-achterlbar-xaver-wiener-neustadt?adjust_creative=OBMoK3r2ftITcAO2w2E5Ew&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=OBMoK3r2ftITcAO2w2E5Ew",
 [...]
