---
http_interactions:
- request:
    method: get
    uri: https://api.yelp.com/v3/businesses/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - bearer <API_KEY>
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      X-Routing-Service:
      - routing-main--useast1-b9c656cb7-9j96c; site=public_api_v3
      X-Zipkin-Id:
      - 9d65ab21adc56c70
      X-Cloudmap:
      - routing_useast1
      X-Proxied:
      - 10-65-164-1-useast1bprod
      X-Extlb:
      - 10-65-164-1-useast1bprod
    body:
      encoding: UTF-8
      string: '{"error": {"code": "NOT_FOUND", "description": "Resource could not
        be found."}}'
  recorded_at: Wed, 10 Nov 2021 00:18:54 GMT
recorded_with: VCR 6.0.0
