---
http_interactions:
- request:
    method: get
    uri: https://api.yelp.com/v3/businesses/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - bearer <API_KEY>
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      X-Routing-Service:
      - routing-main--useast1-b9c656cb7-gphfs; site=public_api_v3
      X-Zipkin-Id:
      - bd80530c24822050
      X-Cloudmap:
      - routing_useast1
      X-Proxied:
      - 10-65-91-109-useast1aprod
      X-Extlb:
      - 10-65-91-109-useast1aprod
    body:
      encoding: UTF-8
      string: '{"error": {"code": "NOT_FOUND", "description": "Resource could not
        be found."}}'
  recorded_at: Mon, 08 Nov 2021 16:21:11 GMT
recorded_with: VCR 6.0.0
