---
http_interactions:
- request:
    method: get
    uri: https://api.yelp.com/v3/businesses/1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - bearer <API_KEY>
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      X-Routing-Service:
      - routing-main--useast1-b9c656cb7-kxmvn; site=public_api_v3
      X-Zipkin-Id:
      - ff90a64919ec6328
      X-Cloudmap:
      - routing_useast1
      X-Proxied:
      - 10-65-85-173-useast1aprod
      X-Extlb:
      - 10-65-85-173-useast1aprod
    body:
      encoding: UTF-8
      string: '{"error": {"code": "BUSINESS_NOT_FOUND", "description": "The requested
        business could not be found."}}'
  recorded_at: Sat, 06 Nov 2021 20:38:40 GMT
recorded_with: VCR 6.0.0
