---
http_interactions:
- request:
    method: get
    uri: https://api.yelp.com/v3/businesses/1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - bearer <API_KEY>
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      X-Routing-Service:
      - routing-main--useast1-b9c656cb7-phh4b; site=public_api_v3
      X-Zipkin-Id:
      - a6571818c1c74ee3
      X-Cloudmap:
      - routing_useast1
      X-Proxied:
      - 10-65-190-140-useast1bprod
      X-Extlb:
      - 10-65-190-140-useast1bprod
    body:
      encoding: UTF-8
      string: '{"error": {"code": "BUSINESS_NOT_FOUND", "description": "The requested
        business could not be found."}}'
  recorded_at: Thu, 04 Nov 2021 20:18:05 GMT
recorded_with: VCR 6.0.0
