---
http_interactions:
- request:
    method: get
    uri: https://api.yelp.com/v3/businesses/1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - bearer <API_KEY>
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      X-Zipkin-Id:
      - 24dcf7e1dca605d6
      X-Routing-Service:
      - routing-main--useast1-b9c656cb7-h64kh; site=public_api_v3
      X-Cloudmap:
      - routing_useast1
      X-Proxied:
      - 10-65-164-1-useast1bprod
      X-Extlb:
      - 10-65-164-1-useast1bprod
    body:
      encoding: UTF-8
      string: '{"error": {"code": "BUSINESS_NOT_FOUND", "description": "The requested
        business could not be found."}}'
  recorded_at: Mon, 08 Nov 2021 16:21:11 GMT
recorded_with: VCR 6.0.0
