---
http_interactions:
- request:
    method: get
    uri: https://api.yelp.com/v3/businesses/1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - bearer <API_KEY>
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      X-Routing-Service:
      - routing-canary--useast1-5584bfc4b6-bvzmp; site=public_api_v3
      X-Zipkin-Id:
      - eed3dd6abe6a84f8
      X-Cloudmap:
      - routing_useast1
      X-Proxied:
      - 10-65-133-10-useast1bprod
      X-Extlb:
      - 10-65-133-10-useast1bprod
    body:
      encoding: UTF-8
      string: '{"error": {"code": "BUSINESS_NOT_FOUND", "description": "The requested
        business could not be found."}}'
  recorded_at: Wed, 10 Nov 2021 00:18:53 GMT
recorded_with: VCR 6.0.0
