---
http_interactions:
- request:
    method: get
    uri: https://api.yelp.com/v3/businesses/1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - bearer <API_KEY>
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      X-Routing-Service:
      - routing-main--useast1-b9c656cb7-mvdh5; site=public_api_v3
      X-Zipkin-Id:
      - 04cf7e270c2a3879
      X-Cloudmap:
      - routing_useast1
      X-Proxied:
      - 10-65-91-109-useast1aprod
      X-Extlb:
      - 10-65-91-109-useast1aprod
    body:
      encoding: UTF-8
      string: '{"error": {"code": "BUSINESS_NOT_FOUND", "description": "The requested
        business could not be found."}}'
  recorded_at: Sun, 07 Nov 2021 16:30:01 GMT
recorded_with: VCR 6.0.0
