---
http_interactions:
- request:
    method: get
    uri: https://api.yelp.com/v3/businesses/raXi6598v97VVJGxuet_ZQ
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - bearer <API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Zipkin-Id:
      - 92d25e3ca0c8a03d
      X-Routing-Service:
      - routing-main--useast1-b9c656cb7-5bglw; site=public_api_v3
      Ratelimit-Dailylimit:
      - '5000'
      Ratelimit-Remaining:
      - '4986'
      Ratelimit-Resettime:
      - '2021-11-07T00:00:00+00:00'
      X-Cloudmap:
      - routing_useast1
      X-Proxied:
      - 10-65-190-140-useast1bprod
      X-Extlb:
      - 10-65-190-140-useast1bprod
    body:
      encoding: ASCII-8BIT
      string: '{"id": "raXi6598v97VVJGxuet_ZQ", "alias": "cucina-on-35th-austin",
        "name": "Cucina On 35th", "image_url": "https://s3-media1.fl.yelpcdn.com/bphoto/PXTbYHpiMAs6VcvNWq8HyA/o.jpg",
        "is_claimed": true, "is_closed": false, "url": "https://www.yelp.com/biz/cucina-on-35th-austin?adjust_creative=OBMoK3r2ftITcAO2w2E5Ew&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_lookup&utm_source=OBMoK3r2ftITcAO2w2E5Ew",
        "phone": "+15124534330", "display_phone": "(512) 453-4330", "review_count":
        221, "categories": [{"alias": "pizza", "title": "Pizza"}, {"alias": "gluten_free",
        "title": "Gluten-Free"}, {"alias": "italian", "title": "Italian"}], "rating":
        4.0, "location": {"address1": "1608 W 35th St", "address2": "", "address3":
        "", "city": "Austin", "zip_code": "78703", "country": "US", "state": "TX",
        "display_address": ["1608 W 35th St", "Austin, TX 78703"], "cross_streets":
        ""}, "coordinates": {"latitude": 30.307613, "longitude": -97.7509029}, "photos":
        ["https://s3-media1.fl.yelpcdn.com/bphoto/PXTbYHpiMAs6VcvNWq8HyA/o.jpg", "https://s3-media2.fl.yelpcdn.com/bphoto/OGDLSoTzLKLxjW78ppAk1w/o.jpg",
        "https://s3-media1.fl.yelpcdn.com/bphoto/3vIg_NCNtgpYFYUcbHJDMQ/o.jpg"], "price":
        "$$", "hours": [{"open": [{"is_overnight": false, "start": "1100", "end":
        "2200", "day": 0}, {"is_overnight": false, "start": "1100", "end": "2200",
        "day": 1}, {"is_overnight": false, "start": "1100", "end": "2200", "day":
        2}, {"is_overnight": false, "start": "1100", "end": "2200", "day": 3}, {"is_overnight":
        false, "start": "1100", "end": "2200", "day": 4}, {"is_overnight": false,
        "start": "1100", "end": "2200", "day": 5}, {"is_overnight": false, "start":
        "1100", "end": "2200", "day": 6}], "hours_type": "REGULAR", "is_open_now":
        true}], "transactions": ["pickup", "delivery"]}'
  recorded_at: Sat, 06 Nov 2021 20:38:39 GMT
recorded_with: VCR 6.0.0
