---
http_interactions:
- request:
    method: get
    uri: https://api.yelp.com/v3/businesses/search?categories=restaurants,bars&location=Denver&open_now=true&sort_by=distance&term=dog%20friendly
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - bearer <API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Ratelimit-Dailylimit:
      - '5000'
      Ratelimit-Resettime:
      - '2021-11-10T00:00:00+00:00'
      X-Zipkin-Id:
      - 586226abe5466d47
      Ratelimit-Remaining:
      - '4962'
      X-Routing-Service:
      - routing-main--useast1-b9c656cb7-clmqp; site=public_api_v3
      X-Cloudmap:
      - routing_useast1
      X-Proxied:
      - 10-65-73-48-useast1aprod
      X-Extlb:
      - 10-65-73-48-useast1aprod
    body:
      encoding: ASCII-8BIT
      string: '{"businesses": [{"id": "FfwLdr5-TBINeZbR4ey_WQ", "alias": "irish-snug-denver",
        "name": "Irish Snug", "image_url": "https://s3-media4.fl.yelpcdn.com/bphoto/4Tfw-AgjlGw6ZM9LDSLU0g/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/irish-snug-denver?adjust_creative=OBMoK3r2ftITcAO2w2E5Ew&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=OBMoK3r2ftITcAO2w2E5Ew",
        "review_count": 493, "categories": [{"alias": "venues", "title": "Venues &
        Event Spaces"}, {"alias": "irish_pubs", "title": "Irish Pub"}, {"alias": "burgers",
        "title": "Burgers"}], "rating": 4.0, "coordinates": {"latitude": 39.7402,
        "longitude": -104.97194}, "transactions": ["delivery", "pickup"], "price":
        "$$", "location": {"address1": "1201 E Colfax Ave", "address2": null, "address3":
        "", "city": "Denver", "zip_code": "80218", "country": "US", "state": "CO",
        "display_address": ["1201 E Colfax Ave", "Denver, CO 80218"]}, "phone": "+13038391394",
        "display_phone": "(303) 839-1394", "distance": 541.9058239564879}, {"id":
        "whMF9UFpUrtalDgqr_yENw", "alias": "kingas-lounge-denver", "name": "Kinga''s
        Lounge", "image_url": "https://s3-media2.fl.yelpcdn.com/bphoto/NbU1S5qAAFz2g_4tjLeqFA/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/kingas-lounge-denver?adjust_creative=OBMoK3r2ftITcAO2w2E5Ew&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=OBMoK3r2ftITcAO2w2E5Ew",
        "review_count": 267, "categories": [{"alias": "lounges", "tit[...]
