---
http_interactions:
- request:
    method: get
    uri: https://api.yelp.com/v3/businesses/search?categories=restaurants,bars&location=Denver&open_now=true&sort_by=distance&term=dog%20friendly
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - bearer <API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Ratelimit-Resettime:
      - '2021-11-09T00:00:00+00:00'
      Ratelimit-Remaining:
      - '4993'
      X-Routing-Service:
      - routing-main--useast1-b9c656cb7-6lz99; site=public_api_v3
      X-Zipkin-Id:
      - c6263cc91aa2acbe
      Ratelimit-Dailylimit:
      - '5000'
      X-Cloudmap:
      - routing_useast1
      X-Proxied:
      - 10-65-190-140-useast1bprod
      X-Extlb:
      - 10-65-190-140-useast1bprod
    body:
      encoding: ASCII-8BIT
      string: '{"businesses": [{"id": "MWFGHr6NOg7pAoLgbgFdsQ", "alias": "doppio-coffee-denver",
        "name": "Doppio Coffee", "image_url": "https://s3-media3.fl.yelpcdn.com/bphoto/Y3nLL8rizY1-z7_PG6ja0A/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/doppio-coffee-denver?adjust_creative=OBMoK3r2ftITcAO2w2E5Ew&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=OBMoK3r2ftITcAO2w2E5Ew",
        "review_count": 97, "categories": [{"alias": "coffee", "title": "Coffee &
        Tea"}, {"alias": "breakfast_brunch", "title": "Breakfast & Brunch"}, {"alias":
        "sandwiches", "title": "Sandwiches"}], "rating": 4.5, "coordinates": {"latitude":
        39.7402, "longitude": -104.97129}, "transactions": ["pickup", "delivery"],
        "price": "$", "location": {"address1": "1245 E Colfax Ave", "address2": "Ste
        105", "address3": "", "city": "Denver", "zip_code": "80218", "country": "US",
        "state": "CO", "display_address": ["1245 E Colfax Ave", "Ste 105", "Denver,
        CO 80218"]}, "phone": "+13035377794", "display_phone": "(303) 537-7794", "distance":
        539.8171882096158}, {"id": "jsux4d-27MbCymwksz9RZg", "alias": "waffle-brothers-pub-style-denver",
        "name": "Waffle Brothers Pub Style", "image_url": "https://s3-media1.fl.yelpcdn.com/bphoto/SJDAKaDYwLbOVapwr4kY5w/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/waffle-brothers-pub-style-denver?adjust_creative=OBMoK3r2ftITcAO2w2E5Ew&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=OBMoK3r2ftITcAO2w2E5Ew",
        "review_count": 285, "categ[...]
