---
http_interactions:
- request:
    method: get
    uri: https://api.yelp.com/v3/businesses/search?categories=restaurants,bars&location=Denver&open_now=true&sort_by=distance&term=dog%20friendly
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - bearer <API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Ratelimit-Resettime:
      - '2021-11-06T00:00:00+00:00'
      X-Zipkin-Id:
      - 0d5aed2d09ba6bcf
      X-Routing-Service:
      - routing-main--useast1-b9c656cb7-bqrmf; site=public_api_v3
      Ratelimit-Remaining:
      - '4990'
      Ratelimit-Dailylimit:
      - '5000'
      X-Cloudmap:
      - routing_useast1
      X-Proxied:
      - 10-65-91-109-useast1aprod
      X-Extlb:
      - 10-65-91-109-useast1aprod
    body:
      encoding: ASCII-8BIT
      string: '{"businesses": [{"id": "No2VmMM6QchZSYtCk6k0vQ", "alias": "dp-dough-denver",
        "name": "DP Dough", "image_url": "https://s3-media1.fl.yelpcdn.com/bphoto/MBkGfvYy-rTgO8tVuYzdQQ/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/dp-dough-denver?adjust_creative=OBMoK3r2ftITcAO2w2E5Ew&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=OBMoK3r2ftITcAO2w2E5Ew",
        "review_count": 318, "categories": [{"alias": "pizza", "title": "Pizza"},
        {"alias": "italian", "title": "Italian"}], "rating": 3.5, "coordinates": {"latitude":
        39.73971, "longitude": -104.97111}, "transactions": ["pickup", "delivery"],
        "price": "$", "location": {"address1": "1228 E Colfax Ave", "address2": "",
        "address3": "", "city": "Denver", "zip_code": "80218", "country": "US", "state":
        "CO", "display_address": ["1228 E Colfax Ave", "Denver, CO 80218"]}, "phone":
        "+13038399663", "display_phone": "(303) 839-9663", "distance": 473.8230907508149},
        {"id": "RTvR4W7K-59xFFZAUTMTbQ", "alias": "lucky-noodles-denver", "name":
        "Lucky Noodles", "image_url": "https://s3-media4.fl.yelpcdn.com/bphoto/uoXE8rVcYAV4R6njOCxrpw/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/lucky-noodles-denver?adjust_creative=OBMoK3r2ftITcAO2w2E5Ew&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=OBMoK3r2ftITcAO2w2E5Ew",
        "review_count": 114, "categories": [{"alias": "thai", "title": [...]
