---
http_interactions:
- request:
    method: get
    uri: https://api.yelp.com/v3/businesses/RTvR4W7K-59xFFZAUTMTbQ
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - bearer <API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Zipkin-Id:
      - b922a2803daa7705
      Ratelimit-Dailylimit:
      - '5000'
      Ratelimit-Resettime:
      - '2021-11-09T00:00:00+00:00'
      Ratelimit-Remaining:
      - '4999'
      X-Routing-Service:
      - routing-main--useast1-b9c656cb7-lfkd2; site=public_api_v3
      X-Cloudmap:
      - routing_useast1
      X-Proxied:
      - 10-65-91-109-useast1aprod
      X-Extlb:
      - 10-65-91-109-useast1aprod
    body:
      encoding: ASCII-8BIT
      string: '{"id": "RTvR4W7K-59xFFZAUTMTbQ", "alias": "lucky-noodles-denver", "name":
        "Lucky Noodles", "image_url": "https://s3-media4.fl.yelpcdn.com/bphoto/uoXE8rVcYAV4R6njOCxrpw/o.jpg",
        "is_claimed": true, "is_closed": false, "url": "https://www.yelp.com/biz/lucky-noodles-denver?adjust_creative=OBMoK3r2ftITcAO2w2E5Ew&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_lookup&utm_source=OBMoK3r2ftITcAO2w2E5Ew",
        "phone": "+17209171000", "display_phone": "(720) 917-1000", "review_count":
        115, "categories": [{"alias": "thai", "title": "Thai"}, {"alias": "noodles",
        "title": "Noodles"}, {"alias": "coffee", "title": "Coffee & Tea"}], "rating":
        4.5, "location": {"address1": "1201 E Colfax Ave", "address2": "Ste 102",
        "address3": "", "city": "Denver", "zip_code": "80218", "country": "US", "state":
        "CO", "display_address": ["1201 E Colfax Ave", "Ste 102", "Denver, CO 80218"],
        "cross_streets": ""}, "coordinates": {"latitude": 39.7402, "longitude": -104.97194},
        "photos": ["https://s3-media4.fl.yelpcdn.com/bphoto/uoXE8rVcYAV4R6njOCxrpw/o.jpg",
        "https://s3-media2.fl.yelpcdn.com/bphoto/DZYTrFnfNrbPREbB4fegbA/o.jpg", "https://s3-media2.fl.yelpcdn.com/bphoto/j2bNwS_1BR-lU2eHct0fDw/o.jpg"],
        "hours": [{"open": [{"is_overnight": false, "start": "1100", "end": "1400",
        "day": 2}, {"is_overnight": false, "start": "1530", "end": "2000", "day":
        2}, {"is_overnight": false, "start": "1100", "end": "1400", "day": 3}, {"is_overnight":
        false, "start": "1530", "end": "2000", "day": 3}, {"is_overnight": false,
        "start": "1100", "end": "1400", "day": 4}, {"is_overnight": false, "start":
        "1530", "end": "2000", "day": 4}, {"is_overnight": false, "start": "1200",
        "end": "2000", "day": 5}, {"is_overnight": false, "start": "1200", "end":
        "2000", "day": 6}], "hours_type": "REGULAR", "is_open_now": false}], "transactions":
        ["pickup", "delivery"], "messaging": {"url": "https://www.yelp.com/raq/RTvR4W7K-59xFFZAUTMTbQ?adjust_creative=OBMoK3r2ftITcAO2w2E5Ew&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_lookup&utm_source=OBMoK3r2ftITcAO2w2E5Ew#popup%3Araq",
        "use_case_text": "Message the Business"}}'
  recorded_at: Mon, 08 Nov 2021 16:21:08 GMT
recorded_with: VCR 6.0.0
